.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; 
}

.Header{
  padding:20px 0px;
  border-bottom: 1px solid gray;
  background-color: aliceblue;
}

.main-window {
  display: flex;
  height: 100vh;
}

.contentfull-display{
  padding: 50px;
  flex:1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

